<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Id</th>
    <th>Image</th>
    <th>Names</th>
    <th>Ports</th>
    <th>Status</th>
    <th>Command</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @resp_json.each do |r| %>
      <tr>
        <td><%= @resp_json.index(r) + 1 %></td>
        <td><%= r['Id'] %></td>
        <td><%= r['Image'] %></td>
        <td><%= r['Names'] %></td>
        <td><%= r['Ports'] %></td>
        <td><%= r['Status'] %></td>
        <td><%= r['Command'] %></td>
        <td><a href="#">Delete</a></td>
      </tr>
  <% end %>
  </tbody>
</table>